
@{
    ViewData["Title"] = "Appointment";
    Layout = "~/Views/Shared/_LayoutMHRS.cshtml";
}



<div class="row">

    @* Randevu al ve geri butonu *@
</div>
<div class="row" style="margin:20px;background-color:whitesmoke; border-radius:4px; padding:10px">
    <div class="col-md-12">
        <form asp-controller="Patient" asp-action="SaveAppointment" method="post">
            <div class="form-group">
                <span class="text-danger" style="font-weight:bold;margin-right:3px"> * </span>
                <label for="City" style="font-weight:bold">İL</label>
                <select id="CitySelect" name="City" class="form-control">
                    <option selected value="0">**İl Seçiniz**</option>

                    @foreach (var item in ViewBag.Cities)
                    {
                        <option value="@item.Id">@item.CityName</option>
                    }

                </select>

            </div>


            <div class="form-group">
                <span class="text-danger" style="font-weight:bold;margin-right:3px"> * </span>
                <label for="District" style="font-weight:bold">İLÇE</label>
                <select id="DistrictSelect" name="District" class="form-control">
                    <option selected value="0">***İlçe Seçiniz***</option>
                    @*@foreach (var item in ViewBag.Districts)
                        {
                            <option value="@item.Id">@item.DistrictName</option>
                        }*@
                </select>
            </div>

            <div class="form-group">
                <span class="text-danger" style="font-weight:bold;margin-right:3px"> * </span>
                <label for="Clinic" style="font-weight:bold">KLİNİK</label>
                <select id="ClinicSelect" name="Clinic" class="form-control">
                    <option selected value="0">***Klinik Seçiniz***</option>
                    @foreach (var item in ViewBag.Clinics)
                    {
                        <option value="@item.Id">@item.ClinicName</option>
                    }
                </select>

            </div>

            <div class="form-group">
                <span class="text-danger" style="font-weight:bold;margin-right:3px"> * </span>
                <label for="Hospital" style="font-weight:bold">HASTANE</label>
                <select id="HospitalSelect" name="Hospital" class="form-control">
                    <option selected value="0">***Hastane Seçiniz***</option>
                    @*@foreach (var item in ViewBag.Hospitals)
                        {
                            <option value="@item.Id">@item.HospitalName</option>
                        }*@
                </select>
            </div>

            <div class="col-md-12">
                <div class="col-md-6" style="float:left">
                    <input id="randevuAra" value="Randevu Ara" class="btn btn-block btn-default" type="button" style="background-color:white; color:red;border:1px solid red" />

                </div>
                <div class="col-md-6" style="float:right">
                    <input id="Temizle" value="Temizle" class="btn btn-block btn-default" type="button" style="background-color:red; color:white;" />
                </div>
            </div>



        </form>

    </div>
</div>


@section Scripts{
    <script>
        // CitySelect combodan il seçildiğinde, bu fonksiyon çalışacak. Change Event
        $('#CitySelect').on('change', function () {
            // İlçe Combosu temizlensin ve içine ilk değeri atansın.
            var $dropdown = $("#DistrictSelect");
            $dropdown.empty();
            $dropdown.append("<option selected value='0'>***İlçe Seçiniz***</option>");

            // İl değiştiği anda hastane combosu temizlensin ve ilk değeri atansın.
            var $dropdown = $("#HospitalSelect");
            $dropdown.empty();
            $dropdown.append("<option selected value='0'>***Hastane Seçiniz***</option>");

            //İl değiştiğinde klinik resetlensin.
            $('ClinicSelect')
                .val(0)
                .trigger('change');

            // Hangi ilin seçili olduğunu değişlene aldık.
            var cityId = this.value;
            // İl Combosundan seçilen değer sıfırdan büyükse,
            // Yani gerçekten bir il seçildiyse aşağıdaki metoda gitsin.
            // O metot aracılığıyla ile ait ilçeleri getirsin.
            if (cityId > 0) {
                $.ajax({
                    type: "GET",
                    url: '/City/GetCityDistricts/' + cityId,
                    success: function (res) {

                        var $dropdown = $("#DistrictSelect");
                        $dropdown.empty();
                        $dropdown.append("<option selected value='0'>***İlçe Seçiniz***</option>");
                        // Bu bir JQuery ForEach döngüsüdür.
                        // Gelen JSon sonucunun her birini ilçe kombosuna ekler.
                        $.each(res.data, function () {
                            $dropdown.append($("<option />").val(this.id).text(this.districtName));
                        });
                    },
                    error: function (err) {
                        console.log(err);
                    },
                });
            }
        });

        // İlçe combosundan ilçe seçildiğinde bu fonksiyon çalışacak.
        $('#DistrictSelect').on('change', function () {
            // Hangi ilçenin seçildiğini değişkene atadık.
            var districtid = this.value;
            // İlçe değiştiğinde, Hastane combosunun içi temizlensin (empty) ve ve ilk değeri atansın (append).
            var $dropdown = $("#HospitalSelect");
            $dropdown.empty();
            $dropdown.append("<option selected value='0'>***Hastane Seçiniz***</option>");

            // İlçe değiştiğinde, Clinic combosundaki ilk değer seçili hale gelsin.
            $('#ClinicSelect')
                .val(0)
                .trigger('change');
        });

        //İller ve Klinikler ViewBag ile sayfaya geliyor. Bu nedenle bu comboşarın içini boşaltmıyoruz. Sadece ilk değerini seçili hale getiriyoruz.
        // Klinik seçildiğinde bu fonksiyon çalışacak (change event).
        $('#ClinicSelect').on('change', function () {
            // Hangi klinik seçili ise değişkene atandı.
            var clinicid = this.value;
            // Hangi ilçe seçili ise değişkene atandı.
            var districtid = $('#DistrictSelect').val();
            // Hastane kombosu temizlenip ilk değeri atandı.
            var $dropdown = $("#HospitalSelect");
            $dropdown.empty();
            $dropdown.append("<option selected value='0'>***Hastane Seçiniz***</option>");
            // Seçilen kliniğin value değeri sıfırdan büyükse, yani gerçekten bir klinik seçilmişse,
            // O ilçedeki o kliniklere sahip hastaneleri getirilsin.
            if (clinicid > 0) {
                $.ajax({
                    type: "GET",
                    url: '/Hospital/GetHospitalFromClinicId?id=' + clinicid + "&districtid=" + districtid,
                    success: function (res) {
                        // Json ile bize gelen hastaneleri hastane combosuna ekledik (Jquery Foreach döngüsü).
                        $.each(res.data, function () {
                            $dropdown.append($("<option />").val(this.id).text(this.hospitalName));
                        });
                    },
                    error: function (err) {
                        console.log(err);
                    },
                });
            }

        });
        // Hastane seçildiğinde bu fonksiyon çalışır (change event).
        $('#HospitalSelect').on('change', function () {
            var id = this.value;
        });
        // Temizle butonu temizlik yapacak.
        $('#Temizle').on('click', function () {
            // İller kombosunda "il seçiniz" seçili hale gelsin.
            $('#CitySelect')
                .val(0)
                .trigger('change');
        });
        // Randevu Ara butonuna tıklandığında seçili hastane ve klinik bölümüne ait uygun randevular listelenecek.
        $('#randevuAra').on('click', function () {
            // Seçili hastanenin id'si.
            var hid = $("#HospitalSelect").val();
            // Seçili kliniğin id'si.
            var cid = $("#ClinicSelect").val();
            // Yeni pencerede uygun randevular listelensin.
            window.open('/Patient/FindAppointment?hid=' + hid + '&cid=' + cid);

        });

    </script>
}



